@import url(global.css);
@import url(normalize.css);
@import url(simplebar.css);
@import url(product.css);
@import url(products-grid.css);


.header {
  position: relative;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
  color: var(--color-dark)
}

.cart {
  position: relative;
  padding: 40px 20px;
  transition: background-color 0.3s;
}

.cart.active:hover {
  background-color: rgba(93, 113, 221, 0.1);
  cursor: pointer;
}

.cart__quantity {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: #EC7070;
  border-radius: 100%;
  padding: 3px;
  margin-top: -10px;
  min-height: 16px;
  min-width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 12px;
}

.header__cart {
  margin-left: 40px;
}

.cart__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
  color: var(--color-dark)
}

.cart-content {
  cursor: default;
  position: absolute;
  right: 0px;
  top: 100%;
  width: 490px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}


.cart-content__list {
  max-height: 330px;
}

.cart-product { 
  display: flex;
  align-items: center;
  padding: 12px 20px;
  transition: background-color 0.3s;
}

.cart-product:hover {
  background-color: rgba(93, 113, 221, 0.1);
}

.content {
  padding-top: 90px;
}

.cart-product__img {
  width: 100px;
  height: 57px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-product__title {
  max-width: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  margin-bottom: 15px;
}

.cart-product__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-product__delete {
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/trash.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart-content__bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-content__fullprice {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark)
}

.fullprice  {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-content__btn {
  width: 246px;
  height: 45px;
  text-align: center;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.1);
  margin-top: 20px;
  height: calc(100% - 40px);
  right: 5px;
}

.simplebar-visible {
  background-color: rgba(77, 77, 77, 0.2);
}